NODE_ENV=production
DOMAIN=example.com
API_SUBDOMAIN=api.example.com
ACME_EMAIL=admin@example.com
ACME_CA_SERVER=https://acme-v02.api.letsencrypt.org/directory

# development
# NODE_ENV=development
# DOMAIN=localhost
# API_SUBDOMAIN=api.localhost
# ACME_EMAIL=
# ACME_CA_SERVER=
